compatibility_date = "2024-05-26"
compatibility_flags = [ "nodejs_compat" ]
account_id = "__CF_ACCOUNT_ID__"
main = "src/worker.ts"

[ai]
binding = "ai"

# #########################
#         Dev Env        #
# ########################
name = "__DEV_SCRIPT_NAME__"

[vars]
ENVIRONMENT = "dev"

[[kv_namespaces]]
binding = "SUPERVISOR_KV"
id = "__DEV_KV_ID__"
preview_id = "temp_kv_x1x4"

[[r2_buckets]]
binding = 'SUPERVISOR_BUCKET'
bucket_name = '__DEV_BUCKET_NAME__'
preview_bucket_name = "temp_bucket_x1x4"

[[vectorize]]
binding = "KNOWLEDGE_INDEX"
index_name = "__DEV_VECTORIZE_INDEX__"

[dev]
port = 4242

# #########################
#     Staging Env        #
# ########################

[env.staging]
name = "__STAGING_SCRIPT_NAME__"
workers_dev = false

[env.staging.vars]
ENVIRONMENT = "staging"

[[env.staging.kv_namespaces]]
binding = "SUPERVISOR_KV"
id = "__STAGING_KV_ID__"

[[env.staging.r2_buckets]]
binding = 'SUPERVISOR_BUCKET'
bucket_name = '__STAGING_BUCKET_NAME__'

[[env.staging.vectorize]]
binding = "KNOWLEDGE_INDEX"
index_name = "__STAGING_VECTORIZE_INDEX__"

# ########################
#     Production Env     #
# ########################

[env.production]
name = "__PRODUCTION_SCRIPT_NAME__"
workers_dev = false

[env.production.vars]
ENVIRONMENT = "production"

[[env.production.kv_namespaces]]
binding = "SUPERVISOR_KV"
id = "__PRODUCTION_KV_ID__"

[[env.production.r2_buckets]]
binding = 'SUPERVISOR_BUCKET'
bucket_name = '__PRODUCTION_BUCKET_NAME__'

[[env.staging.vectorize]]
binding = "KNOWLEDGE_INDEX"
index_name = "__PRODUCTION_VECTORIZE_INDEX__"
