compatibility_date = "2024-05-26"
compatibility_flags = [ "nodejs_compat" ]
account_id = "__CF_ACCOUNT_ID__"
main = "src/index.ts"

# #########################
#         Dev Env        #
# ########################
# name = "__DEV_SCRIPT_NAME__"

[ai]
binding = "AI"

[vars]
ENVIRONMENT = "dev"

[[kv_namespaces]]
binding = "SUPERVISOR_KV"
id = "__DEV_KV_ID__"
preview_id = "__DEV_KV_ID__"

[[r2_buckets]]
binding = 'SUPERVISOR_BUCKET'
bucket_name = '__DEV_BUCKET_NAME__'
preview_bucket_name = "__DEV_BUCKET_NAME__"

[[vectorize]]
binding = "KNOWLEDGE_INDEX"
index_name = "__DEV_VECTORIZE_INDEX__"

[[d1_databases]]
binding = "SUPERVISOR_DB"
database_name = "__DEV_DATABASE_NAME__"
database_id = "__DEV_DATABASE_ID__"

[[queues.producers]]
queue = "__DEV_TRAINING_QUEUE__"
binding = "SUPERVISOR_TRAINING_QUEUE"

[[queues.consumers]]
queue = "__DEV_TRAINING_QUEUE__"
max_batch_size = 1
max_retries = 2

[dev]
port = 4242

# #########################
#     Staging Env        #
# ########################
[env.staging]
name = "__STAGING_SCRIPT_NAME__"
workers_dev = true

[env.staging.ai]
binding = "AI"

[env.staging.vars]
ENVIRONMENT = "staging"
DEFAULT_LLM = '@cf/meta/llama-2-7b-chat-fp16'
CLOUDFLARE_ACCOUNT_ID = "__CLOUDFLARE_ACCOUNT_ID__" 
CLOUDFLARE_API_TOKEN = " __CLOUDFLARE_API_TOKEN__"
JINA_TOKEN = "__JINA_TOKEN__"
OPENAI_KEY = "__OPENAI_KEY__"

[[env.staging.kv_namespaces]]
binding = "SUPERVISOR_KV"
id = "__STAGING_KV_ID__"

[[env.staging.r2_buckets]]
binding = 'SUPERVISOR_BUCKET'
bucket_name = '__STAGING_BUCKET_NAME__'

[[env.staging.vectorize]]
binding = "KNOWLEDGE_INDEX"
index_name = "__STAGING_VECTORIZE_INDEX__"

[[env.staging.d1_databases]]
binding = "SUPERVISOR_DB"
database_name = "__STAGING_DATABASE_NAME__"
database_id = "__STAGING_DATABASE_ID__"

[[env.staging.queues.producers]]
queue = "__STAGING_TRAINING_QUEUE__"
binding = "SUPERVISOR_TRAINING_QUEUE"

[[env.staging.queues.consumers]]
queue = "__STAGING_TRAINING_QUEUE__"
max_batch_size = 1
max_retries = 2

# ########################
#     Production Env     #
# ########################
[env.production]
name = "__PRODUCTION_SCRIPT_NAME__"
workers_dev = false

[env.production.ai]
binding = "AI"

[env.production.vars]
ENVIRONMENT = "production"

[[env.production.kv_namespaces]]
binding = "SUPERVISOR_KV"
id = "__PRODUCTION_KV_ID__"

[[env.production.r2_buckets]]
binding = 'SUPERVISOR_BUCKET'
bucket_name = '__PRODUCTION_BUCKET_NAME__'

[[env.production.d1_databases]]
binding = "SUPERVISOR_DB"
database_name = "__PRODUCTION_DATABASE_NAME__"
database_id = "__PRODUCTION_DATABASE_ID__"

[[env.production.queues.producers]]
queue = "__PRODUCTION_TRAINING_QUEUE__"
binding = "SUPERVISOR_TRAINING_QUEUE"

[[env.production.queues.consumers]]
queue = "__PRODUCTION_TRAINING_QUEUE__"
max_batch_size = 1
max_retries = 2
